<footer class="bg-body-tertiary text-center py-3 mt-auto pt-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <span class="text-muted">
                    &copy; <%= new Date().getFullYear() %>
                        <%= config.name %>
                </span>
            </div>
        </div>
    </div>
</footer>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/632e967be3.js" crossorigin="anonymous"></script>
<% if (locals.tool) { %>
    <% if (tool.javascript) { %>
        <script src="/js/<%= tool.javascript %>" ></script>
    <% } %>
<% } %>
</body>

</html>