<%- include('../include/tool-header.ejs') %>

<div class="row mb-3 mx-1">
    <div class="mb-1 form-check">
        <input type="checkbox" class="form-check-input" id="include-numbers" checked>
        <label class="form-check-label" for="exampleCheck1">Include numbers (0-9)</label>
    </div>
    <div class="mb-2 form-check">
        <input type="checkbox" class="form-check-input" id="include-special">
        <label class="form-check-label" for="exampleCheck1">Include special characters (!@#$%^...)</label>
    </div>
    <div class="mb-1">
        <label for="length" class="form-label">Password length</label>
        <input type="range" class="mh-25 form-range" min="6" max="64" step="1" id="length" value="12">
        <p class="form-label" id="lengthLabel">12</p>
    </div>
</div>

<div class="row mb-3 mx-1">
    <input class="form-control" readonly placeholder="Your password gets generated here..." id="password-output">
    <textarea class="form-control" readonly placeholder="Your passwords get generated here..." id="password-output-multiple" rows="5" style="display: none;"></textarea>
</div>

<div class="row mb-3 mx-1">
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="multiple-passwords">
        <label class="form-check-label" for="exampleCheck1">Generate multiple passwords</label>
    </div>
    <div id="multiple-passwords-container" style="display: none;">
        <div class="mb-1">
            <label for="length" class="form-label">Passwords amount</label>
            <input type="range" class="mh-25 form-range" min="1" max="20" step="1" id="amount" value="1">
            <p class="form-label" id="amountLabel">1</p>
        </div>
    </div>
    <div class="mb-1 form-check">
        <input type="checkbox" class="form-check-input" id="download-to-file">
        <label class="form-check-label" for="exampleCheck1">Download to file</label>
    </div>
</div>

<button class="btn big-btn btn-primary fs-4 mb-5" id="generate-btn">
    Generate
</button>

<a id="downloadFile" style="display: none;"></a>

    <%- include('../include/tool-footer.ejs') %>